body {
    margin: auto;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin: 0px 1.88em 1.25em 1.88em;
    max-width: 100%;
}

a img {
    height: 6.25em;
    max-width: 100%;
}

header {
    margin: auto;
    background-color: rgba(243, 243, 243, 0.6);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

header:hover {
    box-shadow: 0px 0px 10px rgba(5, 78, 236, 0.4);
}

.container {
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 1.88em;
    min-height: 3.13em;
}

.logo {
    float: left;
    text-decoration: dashed;
    font-weight: bold;
    color: black;
    font-size: 1.6em;
    padding-left: 25px;
}

header nav {
    float: right;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
}

nav a {
    margin-top: 40px;
    font-weight: bold;
    float: right;
    padding: 0 45px 0 0;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

nav a:hover {
    color: rgb(201, 201, 201);
}


main h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: #222;
}

main p {
    text-align: center;
    margin: 10px 20px;
    font-size: 1.2em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333333;
    font-size: 1.8em;
    margin-bottom: 10px;
}

section p {
    font-size: 1em;
    color: #555555;
    line-height: 1.8;
}

section a {
    color: #945d38;
    text-decoration: none;
    font-weight: bold;
}

section a:hover {
    text-decoration: underline;
}

