header {
    margin: auto;
    background-color: rgb(169, 168, 224);
    margin-left: 15px;
    margin-right: 15px;

}

.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 30px;
    min-height: 50px;
}

.logo {
    float: left;
    text-decoration: dashed;
    font-weight: bold;
    color:black;
    font-size: 1.6em;
    padding-left: 25px;
}

header nav {
    float: right;
    text-align: center;
    margin: auto;
}


nav a {
    margin-top: 30px;
    font-weight: bold;
    float: right;
    padding: 0 25px 0 0;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
}
nav a:hover {
    color: rgb(201, 201, 201);
}

h1 { 
    font-size: 2em;
}

#hero {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
text-align:center;
flex-direction: column;
}

p {
    font-size: 20px;
    text-align: center;
}