body {
    margin: 0;
    font-family: 'Burbank Big Condensed Bold', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #f0f0f0;
}

.nav-container {
    width: 100%;
    background-color: #222;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.nav li a {
    display: block;
    padding: 15px 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.nav li a:hover {
    color: #00b7ff;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.info-historia , .premis {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.premis table {
    width: 100%;
    border-collapse: collapse;
}
.premis th, .premis td {
    border: 1px solid #757575;
    padding: 10px;
    text-align: left;
}